@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.<br/>
<a asp-action="SignOut" asp-controller="Security" class="btn btn-default">SignOut</a>
</p>